html, address, blockquote, body, dd, div, dl, dt, fieldset, form,
frame, frameset, h1, h2, h3, h4, h5, h6, noframes,ol, p, ul, center,
dir, hr, menu, pre{ display: block }
li{ display: list-item }
head{ display: none }
table{ display: table }
tr{display: table-row }
thead{ display: table-header-group }
tbody{ display: table-row-group }
tfoot{ display: table-footer-group }
col{ display: table-column }
colgroup{ display: table-column-group }
td, th{ display: table-cell }
caption{ display: table-caption }
th{ font-weight: bolder; text-align: center }
caption{ text-align: center }
h4, p,blockquote, ul,fieldset, form,ol, dl, dir,menu{ margin: 1.12em 0 }
h1, h2, h3, h4,h5, h6, b,strong{ font-weight: bolder }
blockquote{ margin-left: 40px; margin-right: 40px }
i, cite, em, var, address{ font-style: italic }
pre, tt, code, kbd, samp{ font-family: monospace }
pre{ white-space: pre }
button, textarea, input, select{ display: inline-block }
big{ font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub{ vertical-align: sub }
sup{ vertical-align: super }
table{ border-spacing: 2px; }
thead, tbody, tfoot{ vertical-align: middle }
td, th{ vertical-align: inherit }
s, strike, del{ text-decoration: line-through }
hr{ border: 1px inset }
ol{ list-style-type: decimal }
ol ul, ul ol, ul ul, ol ol{ margin-top: 0; margin-bottom: 0 }
u, ins{ text-decoration: underline }
/*br:before       { content: "\A" }
:before, :after { white-space: pre-line }*/
center{ text-align: center }
/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }
*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }
@media print {
  h1{ page-break-before: always }
  h1, h2, h3,h4, h5, h6{ page-break-after: avoid }
  ul, ol, dl{ page-break-before: avoid }
}
body{
margin: 0;padding: 0px;
}
body,#page,#content-inner{
font-family:Arial, serif;text-align:left;color:#333333;background-color:#FFFFFF;
}
a{
color:#4F8803;text-decoration:none;
}
a:hover, a:focus {
text-decoration:underline;
}
h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */
{
font-family:Georgia;margin:0;
}
#page{
border-left: solid 1px  #777777;border-right: solid 1px  #777777;
border-top: solid 1px  #777777;
}
#logo-title{
width:100%;float:left;
background:#3D640B url(images/br-menubg.png) repeat-x bottom left;
padding-bottom:4px;
}
#logo{
margin: 0 2em 0 0;padding: 0;
}
#logo a{
}
#logo-image{
float:left;margin: 0 0 0 0;padding: 0 0 0 0;
}

h1#site-name, div#site-name{
float:none;display:block;padding-top:0.4em;margin: 0;
}
#site-name a{
color:#E3E76E;font-size:1.4em;font-weight:normal;text-transform:uppercase;
}
#site-name a:link, #site-name a:visited{
color:#E3E76E;text-decoration: none;
}
#site-name a:hover{
text-decoration: underline;
}
#site-slogan{
color:#FFFFFF;
}
div#header-top-blocks, div#header-blocks{
overflow:visible;float:left;width:100%
}
#header-top-blocks div.block, #header-blocks div.block{
float:left;padding:0 0 0 0;margin:0 0 0 0;
}
#header-top-blocks div.block{
width:100%;
}
#header-top-blocks div.block ul{
margin:0;padding:0;
}
#header-top-blocks div.block .content{
width:100%;
}
#mission{
margin-left:0.5em;margin-right:0.5em;margin-bottom:1em;padding:0.5em;
border: solid 1px #DDDDDD;background-color: #CCCCCC;
}
#content-header h1.title{
margin-bottom:0.4em;padding-bottom:0.4em;padding:0 0.2em 0.6em 0.2em;
}
.breadcrumb{
padding: 0 0.2em;
}
#content-header .breadcrumb a:link, #content-header .breadcrumb a:visited,
#content-header .breadcrumb a:focus, #content-header .breadcrumb a:active{
font-size:1.3em;font-weight:bold;padding-right:0.4em;color:#4F8803;
}
.section-admin #content-area{
overflow:auto;
}

#content-area dl.node-type-list{
padding: 0.5em;
}
#content-area dl.node-type-list dt{
margin-bottom:0.4em;margin-top:0.5em;
}
#content-area blockquote, blockquote{
margin-left:20px;margin-right:0px;margin-top:0.2px;margin-bottom:0.2px;
border-left:4px #2AAE42 solid;padding:0.4em 0px 0.4em 6px;
background-color:#FFFC94;
}
#content-area table{
border-collapse: collapse;
}
#content-area table th{
text-align:center;
font-weight:bold;
background-color:#A8C3AD
}
#content-area table th, #content-area table td{
border:1px solid #CCCCCC;
}
div.warning, tr.warning{
border: 1px solid #f0c020;
}
.help{
margin: 1em 0;
}
.more-help-link{
font-size: 0.85em;text-align: right;
}
.pager{
clear: both;margin: 1em 0;text-align: center;
}
.pager a, .pager strong.pager-current{
padding: 0.5em;
}
.feed-icons{
margin: 1em 0;
}
#content-bottom{
float:left;width:100%;overflow:hidden;
}
#content-bottom .block .block-inner, #content-bottom .block .block-inner .content{
overflow:hidden;
}
div#primary{
float:left;width:100%;border-top:1px solid #DDDDDD;margin: 0 0 0 0;
padding: 0 0 8px 0;background:#649F17 url(images/br-menubg-prim.png) repeat-x bottom left;
}
#primary ul.links{
float:left;width:100%;margin: 0 0 0 0;padding: 0 0 0 0;background:transparent;
}
#primary ul.links li{
float:left;padding: 0 0 0 0;margin: 0 0 0 0;
}
#primary ul.links li a{
float:left;padding: 0.6em;margin: 0;text-decoration:none;font-family:Georgia;
font-weight:normal;font-size:1.2em;color:#F1F1F1;font-weight:bold;
}
#primary ul.links li.active a,#primary ul.links li.active-trail a, 
#primary ul.links li a:hover{
background-attachment:scroll;background-color:#444444;
background-position:center bottom;background-repeat:repeat-x;
color:#FFFFFF;opacity:0.6;
}
div#secondary{
float:left;width:100%;background:#F1F1F1 none repeat scroll 0 0;
border-bottom:1px solid #DDDDDD;vertical-align:middle;
}
#secondary ul.links{
float:left;width:100%;margin: 0 0 0 0;padding: 0 0 0 0;
background:transparent;text-align:left;vertical-align:middle;
}
#secondary ul.links li{
float:left;vertical-align:middle;padding:0 0px 0 0;
}
#secondary ul.links li a{
float:left;
color:#446D07;
font-size:1.1em;
font-weight:normal;
padding: 0.3em 0.6em 0.3em 0.6em;
}
#secondary ul.links li a:hover, #secondary ul.links li a.active,
#secondary ul.links li a.active-trail{
color:#FFFFFF;background:#999999 none repeat scroll 0 0;
text-decoration:underline;
}
#secondary ul.links li a.active, #secondary ul.links li a.active-trail{
text-decoration:none;
}
#edit-search-theme-form-1-wrapper label{
display: none;
}
#sidebar-left{
border-right: solid 1px #E6F0F5;
}
#sidebar-left .form-item, #sidebar-right .form-item{
text-align:center;
}
#sidebar-left #user-login-form input.form-submit,
#sidebar-right  #user-login-form input.form-submit{
display:block;margin-left:auto;margin-right:auto;text-align:center;
}
#footer{
color:#FFFFFF;background:#639E17 url(images/br-footer.png) repeat-x scroll left bottom;
padding:1.6em 0 0.7em;margin:0;text-align:center;width:100%;
}
#footer-inner{
background:transparent;
}
#footer a{
color:#E3E76E;
}
.node{
float:left;width:100%;
}
div.node{
background-color:#FFFFFF;
}
.node-inner{
padding: 0px 0.6em 0px 0.6em;color:#333333;line-height:1.4em;
}
.node.node-teaser{
padding-bottom:0px;padding-top:1.6em;
}
div.node-teaser-delimiter-wrapper{
float:left;width:100%;height:0.2em;padding:20px 0 0 0;margin:0;
}
div.node-teaser-delimiter{
width:auto;height:0.1em;margin-left:0.4em;margin-right:0.4em;
border-bottom-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1px;
}
.sticky{
}
.node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
.comment-unpublished div.unpublished{
height: 0;overflow: visible;color: #d8d8d8;font-size: 3em;
line-height: 1;font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
font-weight: bold;text-transform: uppercase;text-align: center;
}
.node h2.title{
margin-bottom:0.3em;
}
.marker{
color: #c00;
}
.node.node-unpublished .picture, .comment.comment-unpublished .picture{
position: relative;
}
.node .meta{
width:100%;float:left;margin-bottom:0.6em;padding:0;
}
.node a{
color:#4F8803;text-decoration:underline;
}
.node h2.title a{
text-decoration:none;font-size:1.4em;color:#4F8803;
}
.node h2.title a:hover{
text-decoration:underline;color:#333333;
}
.node .content, .node .node-links{
width:100%;float:left;padding:0;margin:0 0 0 0;
}
.node .content{
overflow:hidden;
}
.comment .submitted a, .node .submitted a,
.node .node-links ul.links.inline li.blog_usernames_blog a{
padding-left:1.7em;background: transparent url(i/user_icon.gif) no-repeat 0 0;
}
.node .node-links ul.links.inline li.comment_comments,
.node .node-links ul.links.inline li.comment_add a{
padding-left:1.7em;background: transparent url(i/comment_icon.gif) no-repeat 0 0;
}
.node div.links{
margin: 1em 0;
}
#content-area  div.item-list {
float:left;width:100%;padding: 10px 0;
}
#content-area  div.item-list ul.pager li {
font-size:1.7em;font-weight:bold;font-family: Arial, serif;padding:0;
}
#content-area  div.item-list ul.pager li a{
color:#666666;font-size:1em;font-weight:normal;
padding: 0.3em 0.3em 0.3em 0.3em;
}
#content-area  div.item-list ul.pager li a:hover{
color:#4F8803;text-decoration:underline;visibility:visible;
}
#content-area  div.item-list ul.pager li.pager-next a,
#content-area  div.item-list ul.pager li.pager-last a{
color:#4F8803;
}
ul.links{
margin: 0;padding: 0;
}
ul.links.inline{
display: inline;
}
ul.links li{
display: inline;list-style-type: none;padding: 0 0.5em;
}
#comments {
margin: 1em 0;
}
div#comments{
float:left;width:100%;padding:0;background-color:#FFFFFF;
}
div#comments-title{
float:left;width:100%;
}
#comments-title h2{
clear:both;color:#4F8803;font-size:1.4em;padding-right:0.4em;margin-top:0.5em;
margin-bottom:0.5em;margin-left:0.5em;margin-right:0.5em;text-align:left;
}
.comment-inner{
padding:0 3px;
}
.new{
color: #c00;
}
.comment .picture{
float:left;padding-right:5px;padding-left:5px;
}
.comment .submitted{
padding-bottom:0.2em;
}
.comment .submitted a{
text-decoration: underline;color:#4F8803;font-size:1.2em;font-weight:bold;
}
.comment .content{
background-color:#F8F8F8;border:1px solid #EBEBEB;color:#666666;
padding:0.3em 0.3em 0.3em 0.6em;
}
.comment div.links{
margin: 1em 0;
}
.block{
margin-bottom: 1em;
}
.block h2.title{
background:#4F7B0C url(images/br-blh.png) repeat-y scroll right top;
color:#FFFFFF;margin-bottom:0.667em;margin-top:0.667em;
}
.block h2.title a{
color:#FFFFFF;
}
.block .content{
padding-left:0.3em;padding-right:0.3em;

}
.box{
padding:0px;float:left;width:100%;
}
.box-inner{
background-color:#FFFFFF;padding:5px;margin: 0 3px 0 3px;border:1px solid #B0B0B0;
}
.box h2.title{
font-weight:normal;font-size:1.7em;
}
.box .content{
}
.box .form-item label{
display: block;font-weight: bold;color:#666666;font-family:Georgia;
font-size:1.1em;
}
.box input.form-text, .box textarea{
color:gray;border:1px solid #CCCCCC;width:90%
}
.more-link{
text-align: right;
}
#user-login-form{
text-align: left;
}
li a.active{
color: #000;
}
.form-item, .form-checkboxes,.form-radios{
margin: 1em 0;
}
.form-item input.error, .form-item textarea.error, .form-item select.error{
border: 2px solid #c00;
}
.form-item label{
display: block;font-weight: bold;
}
.form-item label.option{
display: inline;font-weight: normal;
}
.form-required{
color: #c00;
}
.form-item .description{
font-size: 0.85em;
}
.form-checkboxes .form-item, .form-radios .form-item{
margin: 0.4em 0;
}
.container-inline div, .container-inline label{
display: inline;
}
.tips{
margin: 0;padding: 0 0 0 1.5em;font-size: 0.9em;
}
#user-login-form ul{
margin-bottom: 0;
}
#user-login-form li.openid-link, #user-login li.openid-link{
margin-top: 1em;margin-left: -1.8em;padding-left: 1.8em;background-position: left center;
}
#user-login-form li.user-link, #user-login li.user-link{
margin-top: 1em;list-style-type: disc;list-style-position: outside;
}

#user-login li.openid-link, #user-login li.user-link{
margin-left: -2em;
}
/** Drupal admin tables **/
form tbody{
border-top: 1px solid #ccc;
}
form th{
text-align: left;padding-right: 1em;border-bottom: 3px solid #ccc;
}
form tbody th{
border-bottom: 1px solid #ccc;
}

form thead th{
text-align: left;padding-right: 1em;border-bottom: 3px solid #ccc;
}
#user-login-form{
text-align:center;
}
#user-login-form ul{
text-align:left;
}
#search .form-text, #user-login-form .form-text {
border:1px solid #4F8803;color:#444444;padding:2px;
}
#search .button, #search .form-submit, #user-login-form .button,
#user-login-form .form-submit {
background-color:#4F8803;border:1px solid #4070A1;color:#FFFFFF;
font-weight:bold;
}
div#edit-search-block-form-1-wrapper{
overflow: visible;
}
#sidebar-right div#autocomplete{
  position: absolute;
  display:block;
  border: 1px solid;
  overflow: hidden;
  z-index: 100;
  margin-left:0px;
  margin-top:20px;
  width:200px !important;
}
#sidebar-right div#autocomplete ul li{
text-align:left;
}
html.js input.throbbing {
  background-image: url(i/throbber1.gif);
  background-position: 100% 0px;
}
/* external modules */
/*tagadelic */
#sidebar-right .block-tagadelic, #sidebar-left .block-tagadelic{
overflow:hidden;
}
#sidebar-right .block-tagadelic .content, #sidebar-left .block-tagadelic .content{
text-align:justify;
}
/* service links here */
#content-area .node .content div.service-links{
float:left;width:100%;padding: 10px 0 0 0;
}
/* poll */
.poll .bar {
background-color:#E3E76E;
}
.poll .bar .foreground{
background-color:#4F7B0C;
}
/* contact form */
h2.theme-contact-h2{
font-size:1.5em;
line-height:1.3em;
margin-bottom:0.37em;
margin-top:0.37em;
color:#B40010;
}
address.theme-contact-address{
background: transparent url(contact-address.png) no-repeat scroll 0 3px;
padding-left:65px;
padding-right:0;
padding-top:3px;
padding-bottom:3px;
line-height:20px;
}
address.theme-contact-mobile{
background: transparent url(images/contact-mobile.png) no-repeat scroll 0px 0px;
padding-left:68px;
padding-right:0;
padding-top:3px;
padding-bottom:3px;
line-height:40px;
vertical-align:middle;
}
address.theme-contact-skype{
background: transparent url(images/contact-skype.png) no-repeat scroll 10px 0px;
padding-left:68px;
padding-right:0;
padding-top:3px;
padding-bottom:3px;
line-height:40px;
vertical-align:middle;
}
address.theme-contact-email{
background: transparent url(images/contact-email.png) no-repeat scroll 20px 0px;
padding-left:68px;
padding-right:0;
padding-top:3px;
padding-bottom:3px;
height:20px;
}
address.theme-contact-chief{
padding-left:68px;
padding-right:0;
padding-top:3px;
padding-bottom:10px;
height:20px;
}
