/** body **/
  body
  {
  }

  #page,
  #closure-blocks
  {
    min-width: 640px; /* Don't allow the browser to make the site unreadable. */
  }

  #page-inner
  {
  }

  #navigation-top,
  #navigation
  {
    position: absolute; /* Take the named anchors out of the doc flow    */
    left: -10000px;     /* and prevent any anchor styles from appearing. */
  }

  #skip-to-nav
  {
    float: right;
    margin: 0 !important;
    font-size: 0.8em;
  }

  #skip-to-nav a:link, #skip-to-nav a:visited
  {
    color: #fff; /* Same as background color of page */
  }

  #skip-to-nav a:hover
  {
    color: #000;
    text-decoration: none;
  }

  /* Alternatively, the skip-to-nav link can be completely hidden until a user tabs
     to the link. Un-comment the following CSS to use this technique. */
  /*
  #skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited
  {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  #skip-to-nav a:active, #skip-to-nav a:focus
  {
    position: static;
    width: auto;
    height: auto;
  }
  */

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title
  {
  }

  #logo
  {
    float: left;
  }

  #site-name
  {
  }

  #site-slogan
  {
    padding-left:10em;
  }

  #header-blocks
  {
    clear: both; /* Clear the logo */
  }

/** main (container for everything else) **/
  #main
  {
    position: relative;
  }

  #main-inner
  {
  }

/** content **/
  #content
  {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: -100%; /* Negative value of #content's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
  }

  #content-inner,
  .no-sidebars #content-inner
  {
    margin: 0;
    padding: 0;
  }

  .sidebar-left #content-inner
  {
    padding-left: 200px; /* The width + left margin of #sidebar-left. */
    padding-right: 0;
  }

  .sidebar-right #content-inner
  {
    padding-left: 0;
    padding-right: 250px; /* The width + right margin of #sidebar-right. */
  }

  .two-sidebars #content-inner
  {
    margin-left: 200px; /* The width + left margin of #sidebar-left. */
    margin-right: 250px; /* The width + right margin of #sidebar-right. */
  }
  
  div#content-wrapper{
    margin:0;
    padding:0;
  }

/** navbar **/
  #navbar
  {
    float:left;
    margin-left:0;
    margin-right:0;
    padding:0;
    width:100%;
  }

  .with-navbar #content,
  .with-navbar #sidebar-left,
  .with-navbar #sidebar-right
  {
    margin-top: 1.6em; /* Set this to the same value as the navbar height above. */
  }

  #navbar-inner
  {
  }

  #search-box
  {
    width: 200px;
    margin-right: -200px; /* Negative value of #search-box's width. */
    float: left;
  }

  #primary
  {
    float:left;
    margin:0;
    padding:0;
    width:100%;
  }

  #secondary
  {
    float:left;
    vertical-align:middle;
    width:100%;
  }

  #navbar ul /* Primary and secondary links */
  {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  #navbar li /* A simple method to get navbar links to appear in one line. */
  {
    float: left;
    padding: 0 10px 0 0;
  }

  /* There are many methods to get navbar links to appear in one line.
   * Here's an alternate method: */
  /*
  #navbar li
  {
    display: inline;
    padding: 0 10px 0 0;
  }
  */

/** sidebar-left **/
  #sidebar-left
  {
    float: left;
    width: 198px;
    margin-left: 0;
    margin-right: -200px; /* Negative value of #sidebar-left's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
    border-right: solid 1px #E6F0F5;
  }

  #sidebar-left-inner
  {
    margin: 0 10px 0 0;
    padding: 0;
  }

/** sidebar-right **/
  #sidebar-right
  {
    float: right;
    width: 248px;
    margin-left: -250px; /* Negative value of #sidebar-right's width + right margin. */
    margin-right: 0;
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
    border-left: solid 1px #E6F0F5;
  }

  #sidebar-right-inner
  {
    margin: 0 0 0 10px;
    padding: 0;
  }

/** footer **/
  #footer
  {
  }

  #footer-inner
  {
  }

/** closure **/
  #closure-blocks /* See also the #page declaration above that this div shares. */
  {
  }

/** Prevent overflowing content **/
  #header,
  #content,
  #navbar,
  #sidebar-left,
  #sidebar-right,
  #footer,
  #closure-blocks
  {
    overflow: visible;
  }

  #navbar
  {
    overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
  }

  /* If a div.clear-block doesn't have any content after it and its bottom edge
     touches the bottom of the viewport, Firefox and Safari will mistakenly
     place several pixels worth of space between the bottom of the div and the
     bottom of the viewport. Uncomment this CSS property to fix this.
     Note: with some over-large content, this property might cause scrollbars
     to appear on the #page div.
  */
  /*
  #page
  {
    overflow-y: hidden;
  }
  */
