body{
}

#page,
#closure-blocks{
    margin-left: auto;
    margin-right: auto;
    width: 990px;
}

#page-inner{
}

#navigation-top,
#navigation{
    position: absolute; /* Take the named anchors out of the doc flow    */
    left: -10000px;     /* and prevent any anchor styles from appearing. */
}

#skip-to-nav{
    float: right;
    margin: 0 !important;
    font-size: 0.8em;
}

#skip-to-nav a:link, #skip-to-nav a:visited{
    color: #fff; /* Same as background color of page */
}

#skip-to-nav a:hover{
    color: #000;
    text-decoration: none;
}

/* Alternatively, the skip-to-nav link can be completely hidden until a user tabs
to the link. Un-comment the following CSS to use this technique. */
/*
#skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited
{
position: absolute;
left: 0;
top: -500px;
width: 1px;
height: 1px;
overflow: hidden;
}

#skip-to-nav a:active, #skip-to-nav a:focus
{
position: static;
width: auto;
height: auto;
}
*/

/** header **/
#header
{
}

#header-inner
{
}

#logo-title
{
}

#logo
{
float: left;
}

#site-name
{
}

#site-slogan
{
}

#header-blocks
{
clear: both; /* Clear the logo */
}

/** main (container for everything else) **/
#main
{
position: relative;
}

#main-inner
{
}

/** content **/
#content,
.no-sidebars #content
{
float: left;
width: 990px;
margin-left: 0;
margin-right: -990px; /* Negative value of #content's width + left margin. */
padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

.sidebar-left #content
{
width: 778px; /* 2pixel less for borders */
margin-left: 210px; /* The width of #sidebar-left. */
margin-right: -990px; /* Negative value of #content's width + left margin. */
}

.sidebar-right #content
{
width: 683px;
margin-left: 0;
margin-right: -685px; /* Negative value of #content's width + left margin. */
}

.two-sidebars #content
{
width: 473px;
margin-left: 210px; /* The width of #sidebar-left */
margin-right: -685px; /* Negative value of #content's width + left margin. */
}

#content-inner
{
margin: 0;
padding: 0;
}

/** navbar **/
#navbar
{
float: left;
width: 100%;
margin-left: 0;
margin-right: 0;
padding: 0;
}

.with-navbar #content,
.with-navbar #sidebar-left,
.with-navbar #sidebar-right
{
margin-top: 1em; /* Set this to the same value as the navbar height above. */
}

#navbar-inner
{
}

#search-box
{
width: 200px;
margin-right: -200px; /* Negative value of #search-box's width. */
float: left;
}

#primary
{
margin-left:0px;
}

#secondary
{
margin-left: 0px; /* Width of search-box */
}

#navbar ul /* Primary and secondary links */
{
margin: 0;
padding: 0;
text-align: left;
}

#navbar li /* A simple method to get navbar links to appear in one line. */
{
float: left;
padding: 0 10px 0 0;
}

/* There are many methods to get navbar links to appear in one line.
* Here's an alternate method: */
/*
#navbar li
{
display: inline;
padding: 0 10px 0 0;
}
*/

/** sidebar-left **/
#sidebar-left
{
float: left;
width: 210px;
margin-left: 0;
margin-right: -210px; /* Negative value of #sidebar-left's width + left margin. */
padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
}

#sidebar-left-inner
{
margin: 0 0px 0 0px;
padding: 0;
}

/** sidebar-right **/
#sidebar-right
{
float: left;
width: 305px;
margin-left: 685px; /* Width of content + sidebar-left. */
margin-right: -990px; /* Negative value of #sidebar-right's width + left margin. */
padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
}

#sidebar-right-inner
{
margin: 0 0 0 5px;
padding: 0;
}

/** footer **/
#footer
{
}

#footer-inner
{
}

/** closure **/
#closure-blocks /* See also the #page declaration above that this div shares. */
{
}

/** Prevent overflowing content **/
#header,
#content,
#navbar,
#sidebar-left,
#sidebar-right,
#footer,
#closure-blocks
{
overflow: visible;
}

#navbar
{
overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}

/* If a div.clear-block doesn't have any content after it and its bottom edge
touches the bottom of the viewport, Firefox and Safari will mistakenly
place several pixels worth of space between the bottom of the div and the
bottom of the viewport. Uncomment this CSS property to fix this.
Note: with some over-large content, this property might cause scrollbars
to appear on the #page div.
*/
/*
#page
{
overflow-y: hidden;
}
*/
